.usa-alert-success {
  background-image: image-url('alerts/success.png');
  background-image: image-url('alerts/success.svg');
}

.usa-alert-warning {
  background-image: image-url('alerts/warning.png');
  background-image: image-url('alerts/warning.svg');
}

.usa-alert-error {
  background-image: image-url('alerts/error.png');
  background-image: image-url('alerts/error.svg');
}

.usa-alert-info {
  background-image: image-url('alerts/info.png');
  background-image: image-url('alerts/info.svg');
}
